#!/usr/bin/make -f
# Local experimental recipe. See docs/INSTALL.md for verification status.
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=makefile

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) all PREFIX=/usr

override_dh_auto_test:
	$(MAKE) test

override_dh_auto_install:
	$(MAKE) install PREFIX=/usr DESTDIR=$(CURDIR)/debian/xmonad-wayland

override_dh_auto_clean:
	$(MAKE) clean
